* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* medium or light font type */
  font-family: "Space Grotesk", sans-serif;
}

a {
  text-decoration: none;
  color: #111237;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #ffffff;
  color: #111237;
}

.navbar_section {
  display: flex;
  align-items: center;
}

.navbar_item {
  padding: 10px 15px;
  font-size: 1rem;
}

/* section2 */

.persentList {
  display: flex;
  align-items: center;
}

.persentList_item {
  text-align: center;
  margin: auto;
  padding: 10px 15px;
  font-size: 1rem;
}

.subText {
  font-size: 3rem;
}

.sec2_container {
  margin: 11%;
  text-align: center;
}

.sec2_flexBox {
  display: flex;
  align-items: center;
}

.sec2_item {
  text-align: center;
  padding: 15px;
  font-size: 1rem;
  display: inline-block;
}

.bckgImage_sec2 {
  position: absolute;
  z-index: -1;
}