* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* medium or light font type */
  font-family: "Space Grotesk", sans-serif;
}

a {
  text-decoration: none;
  color: #111237;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #ffffff;
  color: #111237;
}

.navbar_section {
  display: flex;
  align-items: center;
}

.navbar_item {
  padding: 12px 12px;
  font-size: 17.6px;
  margin: 2px 9px;
}
.link:hover {
  color: #007188;
}

.logo {
  font-size: 27px;
  font-weight: bold;
}

/* section1 */
.flex-container {
  width: 100%;
  height: 1000px;
  display: flex;
  flex-flow: row nowrap;
}

.first {
  background: #fff3f1;
  height: 1000px;
  flex-grow: 6;
}

.second {
  height: 1000px;
  flex-grow: 6;
}

.img {
  width: 100%;
  height: 1000px;
}

/* section2 */

.persentList {
  display: flex;
  align-items: center;
}

.persentList_item {
  text-align: center;
  margin: auto;
  padding: 10px 15px;
  font-size: 1rem;
}

.subText {
  font-size: 3rem;
}

.sec2_container {
  margin: 11%;
  text-align: center;
}

.sec2_flexBox {
  display: flex;
  align-items: center;
}

.sec2_item {
  text-align: center;
  padding: 15px;
  font-size: 1rem;
  display: inline-block;
}

.bckgImage_sec2 {
  position: absolute;
  z-index: -1;
}

/*fonts*/
h1 {
  font-size: 65px;
}
