* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #111237;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #ffffff;
  color: #111237;
}

.navbar_section {
  display: flex;
  align-items: center;
}

.navbar_item {
  padding: 10px 15px;
  font-size: ;
}
